* {
    margin: 0;
    padding: 0;
}

html { 
  background: url(../images/GPN-2000-000880.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#open-space {
    margin: auto;
    display: block;
    background-color: #000000;
    border: 1px solid #999;
    margin-top: 10px;
}

.copyright {
    font-family: 'Rammetto One', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px auto 15px;
    width: 200px;
    text-align: center;
}

.copyright a {
    color: #2CB800;
    text-decoration: none;
}
